EDGAR_APIKEY={{ vault_EDGAR_APIKEY }}
INTRINIO_USER={{ vault_INTRINIO_USER }}
INTRINIO_PASS={{ vault_INTRINIO_PASS }}
WUNDERGROUND_KEY={{ vault_WUNDERGROUND_KEY }}
QUANDL_KEY={{ vault_QUANDL_KEY }}
DB_USERNAME={{ vault_db_username }}
DB_PASSWORD={{ vault_db_password }}
